body {
    background-image: url("https://cdn.pixabay.com/photo/2017/10/26/19/45/christmas-2892235_960_720.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
  }

#calculator {
    margin: auto;
    padding: 15px 15px 15px 15px;
    width: 200px;
    height: 250px;
    border: 3px solid orangered;
    background-color: coral;
    text-align: center;
}

#display {
    margin: auto auto 10px auto;
    padding: auto;
    width: 190px;
    height: 40px;
    border: 3px solid orangered;
    text-align: right;
}

#keypad {
    display: grid;
    grid-template-areas: 
    'main main main right'
    'main main main right'
    'main main main right'
    'footer footer footer right';
}

#numpad {
    display: grid;
    grid-area: main;
    grid-template-columns: auto auto auto;
}

#b {
    display: grid;
    grid-area: footer;
    grid-template-columns: auto auto auto;
}

#operator {
    display: grid;
    grid-area: right;
    grid-template-rows: auto auto auto auto;
}


#clear {
    background-color: orangered;
}