#calculator {
    padding: auto;
    height: 400px;
    width: 250px;
    background-color: pink;
}

#display {
    padding: auto auto auto auto;
    margin: 25px auto 10px auto;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    text-align: right;
}

button {
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 3px 3px 3px auto;
    color: pink;
    padding: 5% 5%;
    text-align: center;
    text-decoration: none;
}

#buttons {
    /* div with all buttons */
    display: grid;
    grid-template-columns: auto;
}