body {
    background-image: url("https://cdn.pixabay.com/photo/2017/10/26/19/45/christmas-2892235_960_720.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

div {
    border: 1px solid transparent;
    border-collapse: collapse;
}

button {
    border: 1px solid transparent;
    background-color: transparent;
}
  
#calculator {
    position: relative;
    width: 25%;
    height: 45%;
    min-width: 300px;
    min-height: 300px;
    margin-left: 25%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-collapse: collapse;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 15px;
    color: white;
    text-align: center;
}

#display {
    padding: auto auto 5px auto;
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 25px;
}
  
#display p {
    margin-left: 15px;
}

#keypad {
    display: grid;
    grid-template-areas: 
    'main main main right'
    'main main main right'
    'main main main right'
    'main main main right';
    grid-gap: 0px;
    width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    padding: auto auto auto auto;
    bottom: 0px;
}

.numpad {
    height: 45px;
    text-align: center;
    padding:  10%;
}

#numpad {
    display: grid;
    grid-area: main;
    grid-template-columns: auto auto auto;
}

#b {
    display: grid;
    grid-template-columns: auto auto auto;
}

#operator {
    display: grid;
    grid-area: right;
    grid-template-rows: auto auto auto auto;
    padding: 10%;
}

#clear, #equals {
    height: 45px;
    background-color: rgba(240, 248, 255, 0.2);
    padding:  10%;
}